<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-123177065-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-123177065-1');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    {% block meta %}
        <title>교육용 트위터</title>
        <meta property="og:title" id="meta-title" content="">
        <meta property="og:description" id="meta-content" content="">
        <meta property="og:image" id="meta-image" content="">

        <meta property="twitter:title" id="meta-title" content="">
        <meta property="twitter:description" id="meta-content" content="">
        <meta name="description" content="">
        <meta name="robots" content="index">
        <meta property="twitter:image" id="meta-image" content="">
    {% endblock %}

    {% block baseJs %}
        <!-- axios -->
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!-- SnackbarJS plugin -->
        <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>

        <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    {% endblock %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href='https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.css' rel='stylesheet' type='text/css'>
    <link href='https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css' rel='stylesheet' type='text/css'>

    {% block baseCss %}
        <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    {% endblock %}
    {% load static %}
    <link rel="stylesheet" href="{% static "css/waitMe.min.css" %}"/>
    <link rel="stylesheet" href="{% static "css/base.css" %}"/>
    <link rel="stylesheet" href="{% static "css/nav.css" %}"/>
    {% block appCss %}
    {% endblock %}
</head>
<body class="bg-white">
<div id="_token" class="d-none" token="{{ request.session.token }}"></div>
<!-- Nav -->
{% include "home/nav.html" %}
<!-- End Nav -->
{% block mainContent %}
{% endblock %}

{% include "home/footer.html" %}

{% if not request.session.login %}
    <!-- Signup Modal -->
    <div class="modal" id="signUpModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow">
                <div class="modal-body mx-4 px-0 pt-5">
                    <form class="container-fluid px-0" id="signup-form">
                        <div class="row mt-4">
                            <div class="col-3 signup-title">
                                성
                            </div>
                            <div class="col-9 px-0">
                                <input type="text" id="signup-last-name" placeholder="홍" class="signup-input">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-3 signup-title">
                                이름
                            </div>
                            <div class="col-9 px-0">
                                <input type="text" id="signup-first-name" placeholder="길동" class="signup-input">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-3 signup-title">
                                E-mail
                            </div>
                            <div class="col-9 px-0">
                                <input type="email" id="signup-email" placeholder="thrink@thrink.co.kr" class="signup-input">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-3 signup-title">
                                비밀번호
                            </div>
                            <div class="col-9 px-0">
                                <input type="password" id="signup-password" placeholder="8자 이상(소대문자, 특수문자, 숫자 조합)" class="signup-input">
                            </div>
                        </div>
                        {#                            <div class="row mt-4">#}
                        {#                                <div class="col-3 signup-title">#}
                        {#                                    휴대전화#}
                        {#                                </div>#}
                        {#                                <div class="col-9 px-0">#}
                        {#                                    <input type="text" id="signup-phone" placeholder="01031641055(-없이)" class="signup-input">#}
                        {#                                    <button id="phone-code-send" type="button">인증번호 받기</button>#}
                        {#                                </div>#}
                        {#                            </div>#}
                        {#                            <div class="row mt-4">#}
                        {#                                <div class="col-3 signup-title">#}
                        {#                                    인증번호#}
                        {#                                </div>#}
                        {#                                <div class="col-9 px-0">#}
                        {#                                    <input type="text" id="signup-phone-code" pattern="\d{1,6}" placeholder="000000" class="signup-input">#}
                        {#                                </div>#}
                        {#                            </div>#}
                        <div class="my-5 text-center">
                            <button class="btn btn-lg signup-btn font-weight-bold" id="signup" type="submit">가입하기</button>
                        </div>
                    </form>
                    <div class="mt-3 text-center">
                        회원가입 시 <a href="#">이용약관</a>·<a href="#">개인정보보호방침</a>·<a href="#">이용료정책</a>에 동의하는 것으로 간주합니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Login Modal -->
    <div class="modal" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow">
                <div class="modal-body mx-3 px-0 pt-5">
                    <form class="container-fluid px-0" id="login-form">
                        <div class="row mt-4">
                            <div class="col-3 signup-title">
                                E-mail
                            </div>
                            <div class="col-9 px-0">
                                <input type="email" id="login-email" class="login-input">
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-3 signup-title">
                                비밀번호
                            </div>
                            <div class="col-9 px-0">
                                <input type="password" id="login-password" class="login-input">
                            </div>
                        </div>
                        <div class="mt-5 text-center">
                            <button class="btn btn-lg signup-btn font-weight-bold" id="login" type="submit" role="button">로그인</button>
                        </div>
                        <div class="my-3 text-center">
                            <a class="" id="signup-in-login">회원가입</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endif %}
</body>

{% load static %}
<script src="{% static 'js/waitMe.min.js' %}"></script>
<script src="{% static 'js/amplify.min.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script>
    $('body').bootstrapMaterialDesign();
    var csrf_token = '{{ csrf_token }}';
</script>
{% block navJs %}
{% endblock %}

{% block appJs %}
{% endblock %}

</html>