<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 item social none-padding">
                    <p class="footer-title">김윤후</p>
                    <p class="footer-title mt-5"><a>이용약관</a> | <a>개인정보보호방침</a> | <a>이용료정책</a></p>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row text-center">
                <span class="white-text col-12">© 2018 Copyright github.com/Yunhoo-Kim</span>
            </div>
        </div>
    </footer>
</div>