<div class="footer-clean">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 item social none-padding">
                    <p class="footer-title">페이타임</p>
                    <p class="footer-title mt-5"><a>이용약관</a> | <a>개인정보보호방침</a> | <a>이용료정책</a></p>
                    <p class="copyright mt-5"><span class="font-bold-weight white-text">사업자 등록번호</span> 501-31-30113</p>
                    <p class="copyright"><span class="font-bold-weight white-text">사업장 소재지</span> 서울특별시 성동구 광나루로 190, A동 1312호</p>
                    <p class="copyright"><span class="font-bold-weight white-text">통신판매업 신고번호</span></p>
                    <p class="copyright"><span class="font-bold-weight white-text">전화번호</span> 02-469-1055</p>
                    <p class="copyright"><span class="font-bold-weight white-text">이메일</span> help.thrink@gmail.com</p>
                    <p class="copyright"><span class="font-bold-weight white-text">대표자</span> 송인희</p>
                </div>
            </div>
        </div>
        <div class="container mt-5">
            <div class="row text-center">
                <span class="white-text col-12">© 2018 Copyright www.thrink.co.kr</span>
            </div>
        </div>
    </footer>
</div>