{% extends "home/base.html" %}

{% block mainContent %}
    <div class="container">
        <div class="jumbotron bg-white text-center py-3 px-0">
            <h1 class="display-2 font-weight-bold text-main">가짜 트위터!</h1>
            <br>
            <br>
            <br>
            <p>교육을 위해 만든 사이트입니다. 임의로 사용하지 말아주세요.</p>
            <br>
            {% if not request.session.login %}
                <div class="col-12">
                    <a class="btn btn-lg signup-btn font-weight-bold" href="#" data-toggle="modal" data-target="#signUpModal" role="button">가입하기</a>
                </div>
                <div class="col-12 b-on-xs">
                    <button class="btn tn-btn my-2 my-sm-0 px-4 bg-white font-weight-bold" data-toggle="modal" data-target="#loginModal">로그인</button>
                </div>
            {%  endif  %}
            <div class="col-12 b-on-xs">
                <button class="btn btn-lg tn-btn pro-register-btn font-weight-bold">프로 신청하기</button>
            </div>
        </div>
    </div>
    <hr class="my-5 t-bc">
    <div class="container card-container pb-5">
        <div class="row">
            {% if request.session.login %}
            <div class="col-12 text-center mb-4">
                <textarea id="tweet-content" class="col-md-6 col-12" style="min-height: 200px;outline:none;"></textarea>
            </div>
            <div class="col-12 text-center mb-4">
                <button class="btn btn-primary" id="write-tweet">트윗 올리기</button>
            </div>
            {% endif %}
            <div class="col-12 text-center mb-4">
                <p class="h5">트윗</p>
            </div>
            <div class="col-12 mt-4 mb-4" id="tweet-container">
{#                <div class="card col-md-6 col-12 offset-md-3">#}
{#                    <div class="card-header">#}
{#                       Name#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <p class="card-text">야야양야야야야양야야야야야야 아니야 아니야 아니야 아니야 아니야 아니야</p>#}
{#                    </div>#}
{#                    <div class="card-footer text-right text-muted">#}
{#                        2 days ago#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}

{% block appCss %}
    {% load static %}
    <link rel="stylesheet" href='{% static "css/index.css" %}'/>
{% endblock %}
{% block appJs %}
    {% load static %}
    <script src='{% static "js/index.js" %}'></script>
{% endblock %}